<!DOCTYPE html>
<html>
  <head>
    <title>CouchPotato</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <%= render 'partials/header' %>

  	<div class="<%= controller_name %> <%= action_name %>">
	    <%= yield %>
  	</div>
  </body>
</html>
